body {
    background: #9CC1FF;
    font-family: 'Heebo', sans-serif;
}

.wrapper_pergunta {
    background-color: white;
}

.projeto {
    display: flex;
}

.box_branco {
    width: 70%;
}

.letra {
    width: 30%;
    background-color: white;
    position: fixed;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao,
.botao:visited {
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}


.botao:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.botao-white {
    background-color: #fff;
    color: #777;
}

.botao:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
